---
apiVersion: "apps/v1beta2"
kind: Deployment
metadata:
  name: "bootstrap-dns-demo-v0-1-5"
  labels:
    app: "bootstrap-dns-demo"
    appNameVersion: "bootstrap-dns-demo-v0-1-5"
    "akka.lightbend.com/service-name": hoboken1
spec:
  replicas: 3
  selector:
    matchLabels:
      appNameVersion: "bootstrap-dns-demo-v0-1-5"
  template:
    metadata:
      labels:
        app: "bootstrap-dns-demo"
        appNameVersion: "bootstrap-dns-demo-v0-1-5"
        "akka.lightbend.com/service-name": hoboken1
    spec:
      restartPolicy: Always
      containers:
        - name: "bootstrap-dns-demo"
          image: "{{image}}"
          imagePullPolicy: "{{imagePullPolicy}}"
          env:
            - name: "RP_APP_NAME"
              value: "bootstrap-dns-demo"
            - name: "RP_APP_TYPE"
              value: basic
            - name: "RP_APP_VERSION"
              value: "0.1.5"
            - name: "RP_DYN_JAVA_OPTS"
              value: "-Dakka.discovery.kubernetes-api.pod-namespace=$RP_NAMESPACE"
            - name: "RP_JAVA_OPTS"
              value: "-Dconfig.resource=rp-application.conf -Dakka.management.cluster.bootstrap.contact-point-discovery.discovery-method=akka-dns -Dakka.management.cluster.bootstrap.contact-point-discovery.port-name=management -Dakka.management.cluster.bootstrap.contact-point-discovery.service-name=bootstrap-dns-demo-internal -Dakka.management.cluster.bootstrap.contact-point-discovery.required-contact-point-nr=3 -Dplay.server.pidfile.path=/dev/null"
            - name: "RP_KUBERNETES_POD_IP"
              valueFrom:
                fieldRef:
                  fieldPath: "status.podIP"
            - name: "RP_KUBERNETES_POD_NAME"
              valueFrom:
                fieldRef:
                  fieldPath: "metadata.name"
            - name: "RP_MODULES"
              value: "akka-cluster-bootstrapping,akka-management,common,service-discovery,status"
            - name: "RP_NAMESPACE"
              valueFrom:
                fieldRef:
                  fieldPath: "metadata.namespace"
            - name: "RP_PLATFORM"
              value: kubernetes
          ports:
            - containerPort: 2552
              name: remoting
            - containerPort: 8558
              name: management
          volumeMounts: []
          command:
            - "/opt/docker/bin/rp-start"
          args:
            - "bin/bootstrap-dns-demo"
          readinessProbe:
            httpGet:
              path: "/platform-tooling/ready"
              port: management
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: "/platform-tooling/healthy"
              port: management
            periodSeconds: 10
            initialDelaySeconds: 60
      volumes: []
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "bootstrap-dns-demo"
  annotations:
    "service.alpha.kubernetes.io/tolerate-unready-endpoints": "true"
  name: "bootstrap-dns-demo-internal"
spec:
  ports:
    - name: remoting
      port: 2552
      protocol: TCP
      targetPort: 2552
    - name: management
      port: 8558
      protocol: TCP
      targetPort: 8558
  selector:
    app: "bootstrap-dns-demo"
  clusterIP: None
  publishNotReadyAddresses: true
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "bootstrap-dns-demo"
  name: "bootstrap-dns-demo"
spec:
  ports:
    - name: dummy
      port: 70
      protocol: TCP
      targetPort: 70
  selector:
    app: "bootstrap-dns-demo"
